/* pages/rideDetail/rideDetail.wxss */
page {
    height: 100%;
}

.line-style {
    padding: 10rpx 0;
    font-size: 14pt;
}

.line-content {
    color: var(--weui-FG-1);
}

.footer-style {
	line-height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	left: constant(safe-area-inset-left);
	left: env(safe-area-inset-left);
	right: constant(safe-area-inset-right);
	right: env(safe-area-inset-right);
    font-size: 16pt;
}

.foot-btn {
	position: relative;
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.back-btn {
	
    background-color: #82c8a0;
    color: white;
}

.call-btn {
    background-color: #fa5a5a;
    color: white;
}

.content-style {
    height: 150rpx;
}